;; Clojure API for Arduino
{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        rxtx22/rxtx22       {:mvn/version "1.0.6"}}
 :paths ["src" "resources"]
 :aliases
 {:build {:deps {io.github.obarbeau/build-clj
                 {:git/sha "bb7d3f12381d84b9e230d8497d4d09b9fd6971ab"}}
          :exec-args {:lib io.github.obarbeau/clodiuno
                      :main-ns clodiuno.core
                      :version "0.0.4-SNAPSHOT"}}}}